{% extends 'main-layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <hr>
    <a href="{% url 'applicantprofiles:academic-rider' %}"
       class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Go Back
        <svg class="bi ms-2" width="24" height="24">
            <use xlink:href="#arrow-right-short"/>
        </svg>
    </a>
    <hr>
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Academic Qualification (Add your Add Academic Qualification )</h5>
            <div class="card-body">
                <h5 class="card-title"></h5>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Save Academic Qualification">
                     </form>
            </div>
        </div>
    </div>

{% endblock content %}